*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 12%;
    background: #464141;
}
body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #bbbbbb;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78%;
}
.imgs{
    display: flex;
    width: 300px;
    height: 300px;
    margin: 20px;
}
h1{
    color: white;
    text-align: center;
    padding-top: 30px;
}
